body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    margin: 0;
    padding: 0;
    background-color: #b6b39a;
    color: #000000;
}

header {
    background-color: #EEF0E5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: #000;
    padding: 30px;
    margin: 20px 30px; /* Ajuste horizontal del margen */
    border-radius: 30px;
    text-align: center;
    display: flex; /* Usamos flexbox para alinear verticalmente */
    align-items: center; /* Centrado vertical */
    justify-content: center; /* Alinear a la izquierda */
    position: relative; /* Asegurar posición relativa para elementos internos absolutos */
}

header h1 {
    color: #000000;
    margin: 1%;
    display: contents; /* Permite alinear elementos a su lado */
}

/* Estilos para el botón de ícono junto al título */
header .bx-left-arrow {
    margin-right: 10px; /* Espacio entre el ícono y el título */
    margin-left: 10px;
    padding: 5px;
    font-size: 24px; /* Tamaño del ícono */
    color: #333; /* Color del ícono */
    position: absolute; /* Posición absoluta para mantenerlo a la izquierda */
    left: 10px; /* Alinear a la izquierda */
    top: 50%; /* Alineación vertical centrada */
    transform: translateY(-50%); /* Ajuste vertical exacto */
    text-decoration: none;
    border-radius: 10%;
}

header .bx-left-arrow:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 25%;
    color: #333;
}

.contactos {
    width: 90%;
    height: 100%;
    margin: 0px auto;
    background-color: #EEF0E5;
    padding: 15px;
    margin-bottom: 15px; /* Espacio entre los elementos del menú */
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    overflow: hidden; /* Para asegurar que los elementos floten correctamente */
    text-align: center;
}

.contactos .subtitulo {
    margin: 10px 100px;
    padding: 2px;
    border-radius: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: relative;

}

.contactos .lista {
    /* Eliminar los estilos de lista predeterminados */
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* Hacer que los elementos de la lista se alineen horizontalmente */
    display: flex;
    /* Espaciado entre los elementos de la lista */
    gap: 10px;
    /* Ajuste de tamaño para dispositivos pequeños */
    flex-wrap: wrap;
    /* Centrar vertical y horizontalmente */
    justify-content: center;
    align-items: center;
}

.contactos .lista li {
    /* Ajustes adicionales */
    display: inline; /* Alineación en línea para elementos flexibles */
}

.contactos .lista li a {
    /* Estilos adicionales para los enlaces */
    display: block; /* Hacer que los enlaces ocupen todo el espacio del li */
    padding: 10px 20px; /* Espaciado interno */
    background-color: transparent; /* Color de fondo */
    text-decoration: none; /* Quitar subrayado del texto */
    color: #000; /* Color del texto */
    border-radius: 5px; /* Bordes redondeados */
}

.contactos .lista li a:hover {
    /* Estilos adicionales para los enlaces */
    display: block; /* Hacer que los enlaces ocupen todo el espacio del li */
    padding: 10px 20px; /* Espaciado interno */
    text-decoration: none; /* Quitar subrayado del texto */
    color: #000000; /* Color del texto */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 75px; /* Bordes redondeados */
}

/* Estilos adicionales para cuando se reduce el tamaño */
@media (max-width: 600px) {
    .contactos .lista li {
        width: 20%; /* Asegurar que ocupen todo el ancho */
        margin-bottom: 5px; /* Espacio entre elementos en dispositivos pequeños */
    }
}

.container {
    width: 90%;
    height: 100%;
    margin: 0px auto;
    background-color: #EEF0E5;
    padding: 15px;
    margin-bottom: 0px; /* Espacio entre los elementos del menú */
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    overflow: hidden; /* Para asegurar que los elementos floten correctamente */
}
