/* Estilos generales */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    margin: 0;
    padding: 0;
    background-color: #b6b39a;
    color: #000000;
}

header {
    background-color: #EEF0E5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: #000000;
    padding: 30px;
    margin: 20px 50px; /* Centrar el encabezado horizontalmente */
    border-radius: 50px;
    text-align: center;
    position: relative; /* Asegurar posición relativa para elementos internos absolutos */
}

header .title h1 {
    margin: 0;
    font-size: 2.5rem;
}

header .title p {
    margin: 0;
    font-size: 1.2rem;
}

main {
    padding: 0px;
}

.hero {
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: #EEF0E5;
    padding: 10px 15px;
    margin: 0px 5px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.btn:hover {
    background-color: #EEF0E5;
    color: #333;
}

footer {
    background-color: #EEF0E5;
    color: #4B4453;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .pie {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Alineación vertical de los elementos */
}

footer .pie img {
    width: 35px; /* Ancho fijo para el logo */
    height: auto; /* Ajusta la altura automáticamente */
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}

footer p {
    margin: 0;
}


