body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #b6b39a;
    color: #000000;
}

.container {
    width: 90%;
    height: 100%;
    margin: 0px auto;
    background-color: #EEF0E5;
    padding: 15px;
    margin-bottom: 0px; /* Espacio entre los elementos del menú */
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    overflow: hidden; /* Para asegurar que los elementos floten correctamente */
}

/* Estilos para el encabezado */
header {
    background-color: #EEF0E5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: #000;
    padding: 30px;
    margin: 20px 30px; /* Ajuste horizontal del margen */
    border-radius: 30px;
    text-align: center;
    display: flex; /* Usamos flexbox para alinear verticalmente */
    align-items: center; /* Centrado vertical */
    justify-content: center; /* Alinear a la izquierda */
    position: relative; /* Asegurar posición relativa para elementos internos absolutos */
}

header h1 {
    color: #000000;
    margin: 1%;
    display: contents; /* Permite alinear elementos a su lado */
}

/* Estilos para el botón de ícono junto al título */
header .bx-left-arrow {
    margin-right: 10px; /* Espacio entre el ícono y el título */
    margin-left: 10px;
    padding: 5px;
    font-size: 24px; /* Tamaño del ícono */
    color: #333; /* Color del ícono */
    position: absolute; /* Posición absoluta para mantenerlo a la izquierda */
    left: 10px; /* Alinear a la izquierda */
    top: 50%; /* Alineación vertical centrada */
    transform: translateY(-50%); /* Ajuste vertical exacto */
    text-decoration: none;
    border-radius: 10%;
}

header .bx-left-arrow:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 25%;
    color: #333;
}

h2 {
    width: 70%;
    margin: 0 auto;
    background-color: #EEF0E5;
    padding: 10px;
    margin-bottom: 10px; /* Espacio entre los elementos del menú */
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    overflow: hidden; /* Para asegurar que los elementos floten correctamente */
}

main {
    padding: 20px 0;
}

.menu-section {
    padding: 7.5px 0;
}

.menu-section:last-child {
    border-bottom: none; /* No borde bajo la última sección */
}

.menu-section h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.menu-item {
    background-color: #EEF0E5;
    padding: auto;
    margin: auto;
    overflow: hidden; /* Para asegurar que los elementos floten correctamente */
    border-bottom: 1px solid #b6b39a;
    padding-bottom: 10px;
}

.menu-item h3 {
    margin: auto;
    font-size: 1.5em;
}

.menu-item .descripcion {
    color: #4B4453;
    margin-top: auto; /* Espacio entre la descripción y el precio */
    position: absolute;
}

.menu-item .precio {
    font-weight: bold;
    margin: auto;
    float: right; /* Alinea el precio a la derecha */
}

footer {
    background-color: #EEF0E5;
    color: #4B4453;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer .pie {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Alineación vertical de los elementos */
}

footer .pie img {
    width: 35px; /* Ancho fijo para el logo */
    height: auto; /* Ajusta la altura automáticamente */
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}

footer p {
    margin: 0;
}
